.resume-block {
    margin-bottom: 40px;
    margin-left: 30px;
}


.resume-block h4 {
    text-decoration: underline;
}

.resume-link {
    margin-left: 20px;
}


.resume-type {
    color: #aaa;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 2px;
}