@import "../../palette.css";


.hero {
  background: var(--background-main);
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.hero h1, .hero h2 {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.special-text {
  font-size: 2rem;
  font-weight: bold;
  color: #0ff;
}