@import "../../palette.css";



.hero {
  color: var(--fg);
  padding: 2rem;
  text-align: center;
}

.hero h1, .hero h2, .skills h2 {
  font-family: 'Fira Code Nerd Font';
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.special-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--cyan);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1.5rem;
  width: 90%;
  opacity: 0;

  animation: fadeIn 0.3s ease-in-out;
  color: var(--fg);
  background-color: var(--bg-highlight);
  margin: 2px;
  padding: 0.5rem;
  border: 2px solid var(--blue7);
  animation-fill-mode: forwards;
}

.skill:hover {
  background-color: var(--bg);
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 400px;

  min-height: 350px;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}


.prof-1 {
  border-color: var(--red1) !important;
  color: var(--red1) !important;
}

.prof-2 {
  border-color: var(--orange) !important;
  color: var(--orange) !important;
}

.prof-3 {
  border-color: var(--yellow) !important;
  color: var(--yellow) !important;
}

.prof-4 {
  color: var(--green) !important;
  border-color: var(--green) !important;
}

.prof-5 {
  color: var(--teal) !important;
  border-color: var(--teal) !important;
}


.animation-delay-1 {
  animation-delay: 0.1s;
}

.animation-delay-2 {
  animation-delay: 0.2s;
}

.animation-delay-3 {
  animation-delay: 0.3s;
}

.animation-delay-4 {
  animation-delay: 0.4s;
}

.animation-delay-5 {
  animation-delay: 0.5s;
}

.animation-delay-6 {
  animation-delay: 0.6s;
}

.animation-delay-7 {
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}