<header class="sticky-top">
    <div class="header">
        <a href="/" class="logo">
            <img class="img-fluid px-2" src="/firesquid_nobg.png" width="64px" height="64px">
            Jonathan Deiss
        </a>
        <div id="header-right" class="header-right align-middle">
            <a href="/">Home</a>
            <a href="/projects/">Projects</a>
            <a href="/resume/">Resume</a>
            <a target="_blank" href="https://github.com/firesquid6/">Github</a>
        </div>
        <script>
            let header_right = document.getElementById("header-right");
            header_right.childNodes.forEach((element, i, parent) => {
                if (element.href == document.URL) {
                    element.classList.add("active");
                }
            })


        </script>
    </div>
</header>