
<div class="hero-container">
    <div class="hero">
        <img width="256" height="256" src="firesquid_nobg.png">

        <div class="hero-text">
            <h1>Hi, my name is Jonathan.</h3>
            <p>I like solving hard problems.</p>
        </div>
    </div>

    <div class="about">
        <p>
            I'm a primarily self taught programmer from Austin, Texas studying at MITxPRO to become a fullstack web developer. I'm also a hobbiest game developer in Godot and Gamemaker. Sometimes I play chess as well. Feel free to <a href="https://www.chess.com/play/online/new?opponent=FireSquid2006" target="_blank">challenge me</a>. 
        </p>
    </div>
</div>



