<div class="project-card">
    <div class="links">
        {{partial "icons/github_24.html" .}}
        {{partial "icons/itch_24.html" .}}
        {{partial "icons/globe_24.html" .}}
    </div>
    <a class="project-card-thumbnail" href="https://teleorb.firesquid.co" target="_blank">
        <img src="./images/input_hint.png">
    </a>
    <div class="project-card-description">
        <h3>
            <a href="https://teleorb.firesquid.co" target="_blank">
                Teleorb
            </a>
        </h3>
        <p>A 2D Platformer originally built in GMS 2, however I later rebuilt it when Godot 4 was released. It was my first completed project and was published on itch.io.</p>
    </div>

    <p class="project-card-date">
        11-20-2022
    </p>

</div>