    
<div class="card-container">
    {{ range .Site.Params.Projects}}
        <div class="project-card">
            <div class="project-card-links">
                {{ with .github}}
                    {{partial "icons/github_24.html" (dict "href" .)}}
                {{ end }}
                
                {{ with .itch }}
                    {{partial "icons/itch_24.html" (dict "href" .)}}
                {{ end }}
                
                {{ with .site }}
                    {{partial "icons/globe_24.html" (dict "href" .)}}
                {{end}}
            </div>
            <a class="project-card-thumbnail" target="_blank">
                <img src={{ .thumbnail }}>
            </a>
            <div class="project-card-description">
                <h3>
                    {{ .title }}
                </h3>
                <p>{{ .description }}</p>
            </div>
        
            <p class="project-card-date">
                {{ .date }}
            </p>
        </div>
    {{ end }}
</div>