<section class="grid grid-cols-2 gap-4 my-8 max-w-5xl mx-auto" style="min-height: 300px">
  <iframe
    src="https://itch.io/embed/1619308?bg_color=2a2b3f&amp;fg_color=ffffff&amp;link_color=6575dd&amp;border_color=3c3959"
    width="100%" height="167" frameborder="0"><a href="https://firesquid4004.itch.io/dodge-roll">Dodge Roll by
      FireSquid</a></iframe>
  <iframe
    src="https://itch.io/embed/1448417?bg_color=4e4e4e&amp;fg_color=ffffff&amp;link_color=44fffb&amp;border_color=4f4f4f"
    width="100%" height="167" frameborder="0"><a href="https://firesquid4004.itch.io/poltergeist-heist">Poltergeist
      Heist
      by FireSquid, Ramita</a></iframe>
  <iframe
    src="https://itch.io/embed/1191210?linkback=true&amp;bg_color=353535&amp;fg_color=ffffff&amp;link_color=5bfaf7&amp;border_color=333333"
    width="100%" height="167" frameborder="0"><a href="https://firesquid4004.itch.io/teleorb">Teleorb by
      FireSquid</a></iframe>
</section>