$theme-colors: (
    $primary: #FF7F0E
    );

body {
    background-color: #00001c;
    color: #dfdfdf;
    font-size: 125%;
    line-height: 1.5;
    margin: 0 auto;
    padding: 5px;
    font-family: 'Oxygen', sans-serif;
}


nav {
    background-color: #0c0c3f;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.nav-item a:link {
    color: #dfdfdf
}

.nav-item a:hover {
    color: #bbbbbb
}

.nav-item a:visited {
    color: #dfdfdf
}

.nav-item a:link {
    color: #efefef
}