$theme-colors: (
    $primary: #FF7F0E
    );

body {
    background-color: #00001c;
    color: #dfdfdf;
    font-size: 125%;
    line-height: 1.5;
    margin: 0 auto;
    padding: 5px;
    font-family: 'Oxygen', sans-serif;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #0c0c3f;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    background: none;
}

/* Change the background color on mouse-over */
.header-right a:hover {
    background-color: #bbbbbb;
    color: black;
}

/* Style the active/current link*/
.header-right a.active {
    background-color: #FF7F0E;
    color: white;
}

/* Float the link section to the right */
.header-right {
    display: block;
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 700px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}