@import "./palette.css";



@font-face {
  font-family: "Fira Code Nerd Font";
  font-style: normal;
  font-weight: 200;
  src: url('/firacode.ttf') format('truetype');
  font-variant-ligatures: none;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Fira Code Nerd Font";
  margin: 0px;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: var(--bg-highlight);
  color: var(--fg);
}


a {
  color: var(--orange);
  text-decoration: none;
  transition: all 0.2 ease-in-out;
}

a:hover {
  color: var(--yellow);
}